.commands-list{
    color: white;
    margin-left: 10%;
    position: relative;
}

.commands-list ul li{
    font-size: 25px;
}

.commands-list ol li{
    font-size: 18px;
}

  
  .dt-image {
    position: fixed; 
    top: 0; /* Adjust the top position as per your requirement */
    right: 0; /* Adjust the right position as per your requirement */
    width: 300px; /* Adjust the width of the image */
    height: auto; /* Adjust the height of the image */
    z-index: 999; /* Add a higher z-index value if necessary to ensure the image appears above other elements */
  }
  